html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #b794f4;
    border: 0px none #ffffff;
    border-radius: 57px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b794f4;
}
::-webkit-scrollbar-thumb:active {
    background: #553c9a;
}
::-webkit-scrollbar-track {
    background: #e9d8fd;
    border: 0px none #ffffff;
    border-radius: 49px;
}
::-webkit-scrollbar-track:hover {
    background: #e9d8fd;
}
::-webkit-scrollbar-track:active {
    background: #e9d8fd;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #b794f4;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b794f4;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.solidbuttonfillbottom {
    box-shadow: inset 0px 0px 0px #b794f4;
    transition: all 0.5s !important;
}

.solidbuttonfillbottom:hover {
    box-shadow: inset 0px -80px 0px #b794f4;
}
.outlinebuttonfillbottom {
    box-shadow: inset 0px 0px 0px #e9d8fd;
    transition: all 0.5s !important;
}

.outlinebuttonfillbottom:hover {
    box-shadow: inset 0px -80px 0px #e9d8fd;
}
